# Ignore everything in server except server/dist
server/*
!server/dist
# Ignore everything in client except client/dist
client/*
!client/dist

# VSCode settings
.vscode/
# TypeScript files are not needed in the production build
**/*.ts
# TSConfig files
**/tsconfig.json

# For obvious reasons
**/*/node_modules/
